<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
    <body>
      <%- include('../includes/navigation.ejs') %>
        <form class=" border border-light p-5" action="/editTask" method="GET" >
            <div style="margin-left:450px; width:400px;"><br>
                <h2 style="text-align: center">OVERDUE TASKS</h2><br>
                <% if (prods.length > 0) { %>
                  <% for (let product of prods) { %>
                    <% if (product.isCompleted == false) { %>
                    <% if (product.username == currentUser.username ) { %>
                              <h3 style="text-align: center"><%= product.task %></h3> 
                                <ul>
                                  <li><b>Start date:</b> <%= product.commenced.toDateString() %></li>
                                  <li><b>Deadline:</b> <%= product.deadline.toDateString() %></li>
                                  <li><b>Today's date:</b> <%= product.dateNow.toDateString() %></li>
                                  <li><b>Tasker: </b> <%= product.username %></li>
                                </ul>
                                
                                  <input type="hidden" value="<%= product._id %>" name="productID">
                                  <button class="btn btn-success my-4 btn-block" type="submit">Edit</button><br><br>
                                </form>
                                <% } %>
                                <% } %>
                                <% } %>
                                <% } else { %>
                                    <h3 style="text-align: center">None found</h3><br>
                                <% } %>                
                        
                      </div>
</form>
    

  
  </body>